<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="<%= process.env.PUBLIC_TITLE %>" />
    <link
      rel="icon"
      type="images/svg+xml"
      href="<%= assetPrefix %>/<%= process.env.PUBLIC_FAVICON %>"
    />
    <meta
      name="theme-color"
      content="<%= process.env.PUBLIC_THEME_COLOR_PRIMARY %>"
    />
    <title><%= process.env.PUBLIC_TITLE %></title>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
